body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: white;
    padding: 10px 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    /* Adjust the height as needed */
    background-color: white;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    /* Ensure the list items fill the full height of the navbar */
    display: flex;
    align-items: center;
    /* Vertically center the navigation items */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: white;
}

.hero {
    background-image: url('hero-image.jpg');
    background-size: cover;
    color: #333;
    text-align: center;
    padding: 100px 0;
    margin-top: 100px;
    /* margin to make space for the fixed navbar */
}

.featured-products {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product {
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.btn {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}





/* this is for contact.html */
.header-space {
    height: 100px;
    /* Adjust the height as needed for appropriate spacing */
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* This will center the child elements */
    text-align: left;
    /* Ensures text within the child elements is left-aligned */
    width: 100%;
}

.contact-section h1,
.contact-section p {
    width: fit-content;
    /* Makes the width of h1 and p only as wide as their content */
}

.contact-section h1 {
    margin-bottom: 0.5em;
    margin-left: 30px;
    color: #333;
    /* Dark text for contrast */
    font-size: 2.5em;
    /* Larger text for impact */
}

.contact-section p {
    margin-top: 0.5em;
    margin-bottom: 3em;
    /* More space before the form starts */
    margin-left: 30px;
    color: #555;
    /* Slightly lighter text for readability */
}

.contact-form {
    background: #f7f7f7;
    /* Light background for the form area */
    padding: 2em;
    border-radius: 8px;
    /* Soft rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
}

/* Enhance the look of your buttons and inputs */
input[type='text'],
input[type='email'],
textarea,
.contact-form button {
    border: none;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 4px;
    width: calc(100% - 2em);
    /* Full width minus padding */
}

.contact-form button {
    background-color: #333;
    /* Matching the navbar color */
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #606060;
    /* Button color changes on hover for interaction feedback */
}






/* video text on index.html */
#video-container {
    position: relative;
    width: 100%;
    height: 646px;
}

#myVideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    width: 100%;
    /* the width to 100% to make the videos responsive */
    height: 300px;
    /* fixed height for all videos */
    object-fit: cover;
    /* maintain aspect ratio and cover the entire container */
}

#video-message {
    position: absolute;
    bottom: 90px;
    /* Align to the bottom of the container */
    left: -300px;
    /* Align container to the far left of the parent */
    transform: translate(0, 0);
    /* Remove the translation */
    text-align: left;
    /* Align text to the left */
    width: 100%;
    padding-left: 20px;
    /* Add some padding inside the container for spacing */
    padding-bottom: 20px;
    /* Add some padding at the bottom for spacing */
}

.video-message {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    transition: opacity 2s ease-in-out;
    /* Smooth transition for opacity changes */
    opacity: 0;
    /* Start invisible */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    /* Needed for opacity transition */
    z-index: 10;
    /* Ensure it's above other content */
}






/* Base styles for .product in index.html */
.featured-products {
    margin-top: 0;
    display: flex;
    /* This establishes a flex container */
    flex-direction: column;
    /* This stacks the children (h2 and .product divs) vertically */
    align-items: center;
    /* This centers the children horizontally within the container */
    text-align: center;
    /* This centers the text inside the children */
}

.featured-products h2 {
    margin-bottom: 20px;
}

.product {
    transition: transform 0.3s ease-in-out;
    width: 100%;
    /* Full width on mobile devices */
    padding: 20px;
    /* Adjust padding as needed */
    box-sizing: border-box;
    /* Include padding in the element's total width and height */
}

.product:hover {
    transform: scale(1.1);
    /* Make the product card 10% larger on hover */
}

.product img {
    max-width: 100%;
    /* Ensure images are responsive */
    height: auto;
    /* Maintain aspect ratio */
}






/* men.html */
body .container {
    padding-top: 2rem;
    /* or more, as needed */
}

.collection-header h1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    /* Responsive font size */
}

.collection-header p {
    margin-bottom: 2rem;
    font-size: 1.25rem;
    /* Responsive font size */
}






.interactive-banner {
    margin-top: 50px;
    /* Increase top margin */
    margin-bottom: 50px;
    /* Increase bottom margin for space before featured products */
    padding: 30px;
    /* Increase padding for a larger appearance */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Optional for depth */
    background-color: #f8f9fa;
    /* Optional: light background to stand out */
}

#promo-image {
    max-width: 90%;
    /* Slightly larger width */
    max-height: 350px;
    /* Increase the image height */
    object-fit: cover;
    margin: auto;
    /* Center the image in the banner */
}

#promo-message {
    font-size: 1.75rem;
    /* Slightly larger text */
    margin-top: 20px;
    /* Adjust spacing as needed */
}

.featured-products {
    margin-top: 200px;
    /* Increase margin to add white space after the banner */
    margin-bottom: 120px;
}

.featured-products-title {
    margin-top: 10rem;
    /* Adjust the value as needed */
}






/* dark mode */
/* General dark mode styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

/* Dark Mode Toggle Button Styling for Blue Color */
.dark-mode-toggle button {
    cursor: pointer; /* Change cursor to pointer to indicate clickable item */
    padding: 10px 20px; /* Add some padding for better touch */
    font-size: 16px; /* Increase font size for readability */
    background-color: #434343; /* A blue background for visibility */
    color: white; /* White text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Add rounded corners */
    transition: background-color 0.3s, transform 0.2s; /* Smooth background color and transform transition */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.dark-mode-toggle button:hover {
    background-color: #232323; /* Darken the button on hover */
    transform: scale(1.05); /* Slightly increase button size on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increase shadow on hover for more depth */
}

/* Toggle button style when Dark Mode is active */
body.dark-mode .dark-mode-toggle button {
    background-color: #343a40; /* Darker background for dark mode */
    color: #ddd; /* Lighter text color for contrast */
}

/* Additional styles for the header in dark mode */
body.dark-mode header {
    background-color: #222;
    /* Dark background for the header */
    color: #ddd;
    /* Adjust if you have text directly within the header that needs to change color */
}

/* Specific styles for the navbar in dark mode */
body.dark-mode nav {
    background-color: #222;
    /* Darker shade for the navbar */
}

/* Adjusting nav link colors in dark mode for better readability */
body.dark-mode nav a,
body.dark-mode nav a:visited {
    color: #ddd;
    /* Lighter text color for links */
}

/* Adjusting nav link hover color in dark mode */
body.dark-mode nav a:hover,
body.dark-mode nav a:focus {
    color: #888;
    /* Grey text color for hover and focus states */
    background-color: transparent;
    /* Optional: Ensure the background doesn't change, or set a suitable color */
}

/* Ensure the toggle button also fits the dark mode theme */
body.dark-mode .dark-mode-toggle button {
    background-color: #444;
    /* Dark background for the button */
    color: #fff;
    /* White text */
    border: 1px solid #555;
    /* Slightly lighter border for visibility */
}

/* Add hover effect for the button in dark mode for feedback */
body.dark-mode .dark-mode-toggle button:hover {
    background-color: #555;
}

/* Adjusting the interactive banner in dark mode */
body.dark-mode .interactive-banner {
    background-color: #444;
    /* Change to your preferred dark mode color */
    color: #ddd;
    /* Lighter text color for readability */
}

/* Adjusting the video container background in dark mode */
body.dark-mode #video-container {
    background-color: #333;
    /* Dark background color for the video container */
}

/* If you want to change the text color in the promo message */
body.dark-mode #promo-message {
    color: #ccc;
    /* Lighter color for the promo message text */
}








/* Dark mode card styles */
body.dark-mode .card {
    background-color: #424242;
    /* Darker background for the cards */
    color: #fff;
    /* Lighter text color for better readability */
}

body.dark-mode .btn-primary {
    background-color: #333;
    /* Dark background color for the button */
    color: #fff;
    /* Light text color for readability */
    border: 1px solid #707070;
    /* Adjust border color for visibility */
}

body.dark-mode .card .card-title,
body.dark-mode .card .card-text,
body.dark-mode .card a {
    color: #fff;
    /* Ensuring all text inside the card is also light-colored for readability */
}

body.dark-mode .card a {
    border-color: #777;
    /* Optional: if your buttons have borders, make them more visible in dark mode */
    background-color: #333;
    /* Darker background for buttons */
}

body.dark-mode .card a:hover {
    background-color: #444;
    /* Slightly lighter background color on hover for buttons */
}




/* Dark mode styles */
body.dark-mode .contact-section h1 {
    color: #ddd;
    /* Lighter color for the title in dark mode */
}

body.dark-mode .contact-form {
    background-color: #333;
    /* Darker background for the form */
    color: #eee;
    /* Lighter text color for readability */
}

body.dark-mode .contact-form input,
body.dark-mode .contact-form textarea,
body.dark-mode .contact-form button {
    background-color: #444;
    /* Dark background for form inputs and button */
    color: #fff;
    /* White text for contrast */
    border-color: #555;
    /* Slightly lighter border for visibility */
}









/* Styles for the inactivity modal */
.inactivity-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 100;
    text-align: center;
    /* Ensure content is centered */
}

.inactivity-modal button {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    /* Space above the button */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.inactivity-modal p {
    color: black;
}

.inactivity-modal button:hover {
    background-color: #0056b3;
    /* Darken button on hover */
}







.form-group {
    display: flex; /* Apply Flexbox */
    justify-content: space-between; /* Space out the child elements */
    align-items: center; /* Align items vertically in center */
    flex-wrap: wrap; /* Allow items to wrap in small screens */
}

#newsletterEmail, #newsletterForm button {
    flex: 1; /* Allow both elements to grow */
    margin: 5px; /* Add a small margin for spacing */
}

.newsletter-signup {
    text-align: center;
    margin-top: 300px;
    margin-bottom: 200px;
}

/* Adjusting the margin bottom of the h2 to make space smaller */
/* Remove negative margin to ensure proper spacing */
.newsletter-signup h2 {
    margin-bottom: 20px; /* Use a positive value to ensure space between h2 and the form */
}

#newsletterForm {
    margin-top: 10px;
}

#newsletterEmail {
    padding: 10px;
    margin-right: 10px;
    width: 250px;
    border: 2px solid #ccc;
    /* Adds a box border */
    border-radius: 4px;
}


#newsletterForm button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
}

#newsletterForm button:hover {
    background-color: #c33d2e;
}

@keyframes pulseAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.85;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulse {
    animation: pulseAnimation 2s infinite;
}







/* scroll to top - index.html */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    display: none;
    /* Hidden by default */
}

#scrollToTopBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}









/* Image Zoom - men.html, women.html */
.card {
    overflow: hidden; /* Prevents the zoomed image from overflowing the card */
}

.card-img-top {
    transition: transform 0.5s ease; /* Smooth transition for the zoom effect */
}





/* for brand logo in index.html */
.brand-introduction {
    margin-top: 100px !important;
}


.brand-introduction h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.brand-introduction p {
    margin-top: 20px; /* Adjust value as needed */
    margin-left: 60px;
    margin-right: 60px;
}




/* to smoothly zoom - index.html */
.nike_logo {
    transition: transform 0.3s ease-in-out; /* Smooth transition for both zoom in and out */
}

.nike_logo:hover {
    transform: scale(1.1); /* Zoom in when hovered */
    /* The transition back to the original scale (zoom out) is also smooth because of the transition property applied to the .nike_logo class itself */
}






/* Extra small devices (portrait phones, less than 576px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .product {
        width: 100%;
        /* Full width for small devices */
    }

    .contact-form {
        padding: 3em;
        /* Increase padding for larger devices */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .product {
        width: calc(50% - 20px);
        /* 2 products per row */
        margin: 0 10px;
    }

    .contact-form {
        max-width: 80%;
        margin: 0 auto;
        /* Center the form in a narrower container for readability */
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .product {
        width: calc(33.333% - 20px);
        /* 3 products per row */
    }

    .contact-form {
        max-width: 70%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .product {
        width: calc(25% - 20px);
        /* 4 products per row */
    }

    .contact-form {
        max-width: 60%;
    }
}